.user-list-item .mat-list-item-content {
  padding: 0 0 !important;
  h4 {
    font-weight: bold !important;
    font-size: 15px !important;
  }
  .user-email {
    font-size: 15px !important;
    color: grey !important;
    margin-left: 5px;
  }
  .user-role {
    font-size: 12px !important;
    color: grey !important;
  }
}

.user-list-container {
  .mat-list .mat-list-item {
    border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
  }
}
