<section class="auth-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 auth-box">
        <img src="assets/images/logo.png" class="img-logo">
        <h1 class="login-title">Hi, First Name</h1>
        <h5 class="">To get started, create a password for your account.</h5>
        <div class="account-wall">
          <form class="form-auth" #f="ngForm" (ngSubmit)="f.form.valid && signup(f)" novalidate>
            <label class="mb-4">first.last@company.com</label>
            <md-input-container class="w-100">
              <input mdInput placeholder="Temporary Password" type="password" name="temporary" [(ngModel)]="newRegistration.temporary_pass" autofocus>
            </md-input-container>
            <md-input-container class="w-100">
              <input mdInput placeholder="New Password" type="password" name="newPass" [(ngModel)]="newRegistration.new_pass" autofocus>
            </md-input-container>
            <md-input-container class="w-100 mb-3">
              <input mdInput placeholder="Confirm Password" type="password" name="confirmPass" [(ngModel)]="newRegistration.confirm_pass" autofocus>
            </md-input-container>
            <button md-raised-button color="primary" class="btn btn-lg btn-block" type="submit">Set Password</button>
          </form>
        </div>
        <div class="mt-lg-5"><span>Already have a password?</span><a class="ml-1 primary-color" routerLink="/login"> Sign in</a></div>
      </div>
    </div>
  </div>
</section>
